# Build output
target/
build/
dist/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.mvn

.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
*.env